<nav class="bg-white shadow">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between h-16">
      <div class="flex">
        <div class="flex-shrink-0 flex items-center">
          <img class="block lg:hidden h-14 w-auto" src="/assets/sheet_menu_logo-e1f5d37642213a4aca1b305f609c92880ab76132c30905b506b8cd96a17540ab.png">
          <img class="hidden lg:block h-14 w-auto" src="/assets/sheet_menu_logo-e1f5d37642213a4aca1b305f609c92880ab76132c30905b506b8cd96a17540ab.png">
        </div>
      </div>
      <div class="sm:ml-6 sm:flex sm:items-center" data-controller="panel">
        <%#= link_to 'View Cart', cart_path(params[:id]), data: { cart_target: 'openCart' } %>
        <button data-panel-target="cart" >View Cart</button>
      </div>
    </div>
  </div>
</nav>