<div class="m-5">
  <div class="flex justify-between gap-4">
    <div id="pending-orders" class="w-full">
      <% if @orders.present? %>
        <% @orders.each do |order| %>
          <%= render partial: 'orders/order', locals: { order: order, billed: false } %>
        <% end %>
      <% else %>
      <div class="flex justify-center items-center m-5 w-full" >
        <p>No Orders Present at this time</p>
      </div>
      <% end %>
    </div>
  </div>
</div>
