<div class="relative z-10" id="cart-drawer" data-controller="panel" aria-labelledby="slide-over-title" role="dialog" aria-modal="true">
  <!--
    Background backdrop, show/hide based on slide-over state.

    Entering: "ease-in-out duration-500"
      From: "opacity-0"
      To: "opacity-100"
    Leaving: "ease-in-out duration-500"
      From: "opacity-100"
      To: "opacity-0"
  -->
  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity overlay " data-action="click->panel#close"></div>

  <div class="fixed overflow-hidden">
    <div class="absolute overflow-hidden">
      <div class="pointer-events-none fixed inset-y-0 flex max-w-full pl-10 pane">
        <!--
          Slide-over panel, show/hide based on slide-over state.

          Entering: "transform transition ease-in-out duration-500 sm:duration-700"
            From: "translate-x-full"
            To: "translate-x-0"
          Leaving: "transform transition ease-in-out duration-500 sm:duration-700"
            From: "translate-x-0"
            To: "translate-x-full"
        -->
        <div class="pointer-events-auto w-screen max-w-md bg-white h-screen">
        <%= turbo_frame_tag 'slide_over_content', class: "flex h-full flex-col overflow-y-scroll shadow-xl" do %>

        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
    #cart-drawer {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        max-width: 300px;
        right: -100%;
        background-color: #f7f7f7;
    }

    #cart-drawer .pane {
        right: -100%;
        transition: all 0.3s ease-in-out;
    }

    #cart-drawer.show .pane {
        right: 0;
    }

    .w-1 {
        width: 100px;
    }

    .overlay {
        display: none;
    }

    .overlay.show {
        display: block;
    }
</style>